*{
	font-family: cursive;
	box-sizing: border-box;
}
h1{
	text-align: center;
}
h2{
	float: right;
	border: 1px solid black;
	margin: 0px 0px 10px;
	padding-left: 60px;
	padding-right: 60px;
}
p{
	clear: right;
	margin: 20px;
	word-wrap: break-word;		
}
section{
	margin: 10px;
	background-color: gray;
	border: 1px solid black;
	height: 200px;
}
div{
	float: left;		
}
#i1{
	background-color: blue;
}
#i2{
	background-color: green;
	color: white;
}
#i3{
	background-color: red;
}
@media(min-width:992px){
	div{
		width: 33.33%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	div{
		width: 50%;
	}
	div:nth-last-child(1){
		width: 100%;
	}
}
@media (max-width: 767px){
	div{
		width: 100%;
	}
}