*{
	font-family: cursive;
	box-sizing: border-box;
}
.navbar{
	padding: 0;
	border-bottom: 2px solid black;
}
.navbar-brand{
	padding: 20px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-toggler{
	margin: 20px;
}
.nav-item{
	border: 1px solid black;
}
h1{
	margin: 40px;
}
h2{
	margin: auto;
	padding: 20px;
}
p{
	clear: right;
	word-wrap: break-word;
	padding: 20px;
	margin: auto;
}
.item{
	background-color: gray;
	margin: 0px auto 40px;
}